@import 'tailwindcss';
@import 'leaflet/dist/leaflet.css';

@theme inline {
  --color-verdePastel: #DAE5DD;
  --color-verdeEscuro: #04412B;
  --color-verdeClaro: #00995D;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
